package components

templ Logo(){
    @LogoStyle()
    <a href="/"><img class="menu__left-logo" src="/public/images/logo.svg"></a>
}

templ LogoStyle(){
    <style>
        .menu__left-logo{
            cursor: pointer;
            width: 200px;
        }
    </style>
}