* {
    box-sizing: border-box;
}

body {
    color: #fafafa;
    font-size: 21px;
    font-family: 'Fira Sans', sans-serif;
}

.navbar {
    border-bottom: 1px solid #6c38cc;
    padding: 5px 0;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    list-style: none;
    background: #e4e4e4;
}

.navbar a {
    text-decoration: none;
    color: #333;
    text-align: center;
    padding: 3px 89px;
}

.navbar a:hover {
    color: #007bff;
}