package layout

templ Filter(){
    @FilterStyle()
    <div class="filter">
      @Section()
      { children... }
    </div>
}

templ FilterStyle(){
   <style>
    .filter{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
   </style>
}